// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";


// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
@include blueprint-scaffolding("body.bp");

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form; }

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  #container {
    @include container; }
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); } }
    
// so let's start husslin, baby
/* ze globalë */
.italic { font-style: italic; }
.bold { font-weight: bold; }
.hilite { color: #E5DEA5; }

body {
  background: url('/images/ruohonleikkuri.jpg') top left fixed;
  -moz-background-size:100% 100%; /* Firefox */
  background-size:100% 100%;
  background-repeat:no-repeat;
}

#cloth {
  width: 60%;
  margin: 0 auto;
}

#head {
  word-wrap:break-word;
}

#head h1 {
  color: #292621;
  font-size: 10em;
}

.post {
  // width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.post h2 {
  color: #fff;
  background: black;
}

.post .content {
  color: #666;
}

.post .by {
  color: #ccc;
}

.post .comments {
  font-style: italic;
  text-align: right;
}

#foot {
  // width: 50%;
  margin: 0 auto;
  background: #454A40;
}