- @posts.each do |post|
	.post
		%h2= post.title 
		%p.content
			= post.content 
		%p.by
			posted by #{post.author.name}
			%span.hide on #{post.created_at}
		%p.comments
			{ 
			= pluralize(post.comments.count, 'comment')
			}