!!! 5
%html
	%head
		%title blaghe {0}
		= javascript_include_tag :defaults 
		= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' 
		= stylesheet_link_tag 'compiled/print.css', :media => 'print' 
		/[if lt IE 8]
			= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection' 

	%body.bp
		#cloth
			%header#head
				%h1 
					<!-- mar§hm<span class="italic">e</span>llows<span class="hilite">and</span>mushr[oo]ms -->
					marshm<span class="italic">e</span>llows<span class="hilite">and</span>mushrooms
	
			= yield 

			%footer#foot
				%p
					here I am, my love, we should go winter bathing!<br>
					&copy; matches' maker (burning down your houses, since 1404)